@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

* {
    font-family: "Fira Code", monospace;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-size: 1.5rem;
}


.form-container {
    background-color: grey;
    width: 200px;
    margin: 2rem auto;

    font-size: xx-large;
}